:root{
    --primary-color: #BF7F11;
    --secondary-color: #EBC431;
    --accent1-color: #476278;
    --accent2-color: #4B5354;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 0 16px;
}


h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);

}


.hero {
    position: relative; /* Required for absolute children */
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    padding: 16px;
    opacity: 0.9;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 16px;
    width: 80%;
}

.hero article img {
    float: right; /* CSS Float - 1 pt */
    width: 125px;
    margin-left: 15px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
.navigation{
    flex-direction: row;
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia img {
    width: 64px;
    height: 64px;
    object-fit: contain; /* Mantém a proporção da imagem */
}
